* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: gray;
}


.arrow {
    font-size: 12px; /* Adjust the font size to make the arrow smaller */
    margin-left: 5px; /* Add margin for spacing */
}

nav {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    padding: 15px 0 0 30px; /* Adjust padding for better spacing */
    height: 50px;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px; /* Rounded corners on hover */
}

nav ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    display: none;
    background-color: rgba(128, 128, 128, 0.4);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 10px; /* Rounded corners on submenu */
}

nav ul .dropdown-sidebar:hover > ul,
nav ul .dropdown-sidebar_two:hover > ul {
    display: block;
}
