<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="styles/productpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header class="header">
        <nav class="header-navbar">
            <ul class="header-navbar-sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul>
                <li><a href="#">Home</a></li>
                <li class="hideOnMobile"><a href="#">About Us</a></li>
                <li class="hideOnMobile"><a href="#">Products</a></li>
                <li class="hideOnMobile"><a href="#">Contact Us</a></li>
                <li class="header-menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav> 
    </header> 

    <div class="hero">
        <h1 class="hero-slogan">Din slogan här</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non blandit nisi. Nullam in malesuada tortor. Vivamus fringilla urna sed.</h3>
        <div class="hero-buttons">
            <a class="hero-button1" href="#">Buy Now</a>
            <a class="hero-button2" href="#">Buy Now</a>
        </div>
    </div>

    <section>
        <div class="section-title">
            <h1>
                Upcoming Events
            </h1>
            <div class="line"></div>
        </div>
        <div>
            <div class="">
                <img src="" alt="">
                <h4>Example text</h4>
                <p></p>
                <a href="#" class="hero-button1">Learn More</a>
            </div>
        </div>
    </section>
    
    <div class="main"> 
        <aside class="left">
            LEFT 
        </aside>
        <main>
            MAIN CONTENT <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere sagittis purus. Praesent feugiat, nisi nec convallis elementum, risus urna suscipit dolor, id efficitur diam nisl sit amet augue. Integer a neque nisi. Suspendisse volutpat mauris eu leo aliquet, nec porttitor diam volutpat. Etiam volutpat, mi non ullamcorper lobortis, eros urna commodo massa, eu lobortis augue ipsum eu dui. Suspendisse consectetur fermentum tincidunt. Curabitur vel gravida arcu, at rhoncus urna. Nunc faucibus sodales est, vitae porttitor eros vulputate et. Aliquam erat volutpat. Maecenas venenatis sagittis lobortis. Phasellus imperdiet mauris sapien, tristique malesuada magna cursus vel. Fusce ut iaculis neque. Vestibulum commodo et libero non fringilla. Nam a sem viverra, commodo enim id, mattis diam. Vivamus turpis ligula, interdum at dictum in, volutpat varius tellus.

Aenean eu vulputate metus. Pellentesque ac sem pulvinar, tempus lacus nec, lobortis felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec egestas volutpat tortor, non euismod dolor tristique a. In neque nisi, porttitor sit amet nisi vitae, hendrerit porttitor nisi. In bibendum felis ut eros dictum porttitor. Aliquam erat volutpat. Nullam at varius massa, et vestibulum massa. Donec blandit tellus vitae justo aliquet, eu malesuada dolor commodo. Quisque quis consectetur lectus. Donec vehicula nibh ac lacus euismod feugiat eget vel enim. Sed eget euismod odio, sit amet elementum tellus. Nullam commodo porta viverra. Vivamus sollicitudin tellus id turpis elementum ornare. Nullam blandit, sem quis pretium vehicula, orci ante accumsan tellus, quis semper velit ligula quis sapien. Quisque vulputate, eros eget ornare molestie, arcu sem sollicitudin elit, in gravida justo nulla at nulla.

Fusce sit amet ante nisl. Curabitur nunc nisl, feugiat et congue ac, lacinia eget enim. Proin non orci quis nunc luctus fringilla eget eget urna. Sed justo quam, iaculis non consectetur ut, bibendum vel dolor. In eu lacus at urna pulvinar rutrum. Vivamus commodo suscipit est, vel elementum augue malesuada ac. Nullam quis sem rutrum, sagittis neque eu, rutrum felis. Phasellus malesuada mi eros, at pharetra mi sollicitudin rutrum. Vestibulum non turpis in dolor dignissim dignissim. Fusce vitae massa imperdiet, commodo ipsum ut, tincidunt justo. Maecenas eget sapien eros.

Donec maximus sapien eget convallis porta. Donec vestibulum at ex vitae pharetra. Ut accumsan ac lectus dictum semper. Vivamus a molestie tellus. Phasellus finibus metus sed lectus commodo elementum. Phasellus volutpat leo vitae tempor suscipit. Nulla quis eleifend nisi. Nam sed pellentesque nibh. In in interdum eros. Vestibulum maximus diam eget quam efficitur hendrerit. Suspendisse a libero quis dolor rutrum lobortis ac ac orci.

Proin nisi enim, faucibus eu mattis quis, ornare sed ipsum. Vestibulum in nulla justo. Cras dignissim laoreet lectus sed viverra. Nulla faucibus magna at interdum bibendum. Quisque ex odio, mattis vitae varius id, sodales efficitur velit. Phasellus interdum eget est sed sodales. Sed elementum tincidunt bibendum. Donec ullamcorper nulla eget tincidunt pharetra. Ut nec risus mattis, finibus ex nec, ultricies velit. Curabitur ex odio, lobortis vitae accumsan at, bibendum eget neque.

        </main>
        <aside class="right">
            RIGHT
        </aside>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-column">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>follow us</h4>
                    <div class="footer-social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
        </div>       
    </footer>

    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.header-navbar-sidebar')
            sidebar.style.display = 'flex'
        }

        function hideSidebar(){
            const sidebar = document.querySelector('.header-navbar-sidebar')
            sidebar.style.display = 'none'
        }
    </script>
</body>
</html>
