<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doubledropdown</title>
    <link rel="stylesheet" href="styles/doubledropdown.css">
</head>
<body>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li>
            <a href="#">Products &#x25BE;</a>
            <ul class="dropdown">
                <li><a href="#">1</a></li>
                <li>
                    <a href="#">2 &#x25BE;</a>
                    <ul class="dropdown2">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">3 &#x25BE;</a>
                    <ul class="dropdown2">
                        <li>
                            <a href="#">1 &#x25BE;</a>
                            <ul class="dropdown3">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">2</a></li>
                        <li>
                            <a href="#">3 &#x25BE;</a>
                            <ul class="dropdown3">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</body>
</html>