*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: lightblue;
    background-color: black;
    overflow-x: hidden;
}

.ctn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.ctn a{
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 14px;
    background-color: rgba(0,255,255, 1);
    transition: 0.5s ease;
}

.ctn a:hover{
    box-shadow: 0 2px 20px rgba(0, 255, 255, 1);
    color: white;
    background-color: rgb(0, 0, 0);
}
/* Animated bar*/
.section{
    overflow: hidden;
    z-index: 1;
    background-color: aquamarine;
}

.section div{
    width: 100%;
    height: 50px;
    white-space: nowrap;
}

.seperation{
    background: linear-gradient(to left, blue, aqua, white, aqua, blue);
    animation: 3s slide infinite linear;
    z-index: 888;
}

.seperation2{
    margin: -50px 0;
    background: linear-gradient(to right, blue, aqua, white, aqua, blue);
    animation: 3s slide2 infinite linear;
    z-index: 889;
}

.blue{
    background-color: blaxck;
}

.seperation:hover, .seperation2:hover{
    animation-play-state: none ;
}

.menu-button{
    display: flex;
}

/* Animations start */

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide2{
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


/* Animations stop */

/* header start */

.header{
    background-color: none;
}

.header-nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: black;
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 1);
    z-index: 1000;
}

.header-text{
    width: 100%;
    margin: 4px;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: none;
}

.header-text a{
    color: white;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: none;
    transition: 0.3s ease;
}

.header-text a:hover{
    color: lightskyblue;
}

/* header stop */
/* sidenav start */

.sidenav { /*sidenav positions and decorations*/
    position: absolute;
    width: 200px;
    height: auto;
    background-color: black;
    margin: 55px 0;
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 1);
    border-radius: 0 0 10px 0;
    z-index: 999;
}

.sidenav ul { /* Sidenav list/<ul> layout and positions*/
    padding: 10px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.sidenav-text h1 { /*padding on <h1>*/
    padding: 20px;
}

.sidenav-text h1 a { /* Sidenav <h1> <a> decoration and positions*/
    position: relative;
    width: max-content;
    padding: 20px 0 5px 0;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.sidenav-text h1 a:hover{ /* Sidenav <h1> <a> decoration when hovered*/
    color: white;
    font-size: 28px;
    left: 2px;
}

.sidenav-text h1 a::after { /* Sidenav <h1> undeline*/
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 100%;
    transform: translateX(-50%);
    border-radius: 5px;
    background: linear-gradient(to right, white, aqua, blue);
}

.sidenav-text li { /*<li> positions*/
    position: relative;
    width: max-content;
    margin: 5px 0;
}

.sidenav-text li a { /* <a> decoration*/
    display: block;
    margin: 8px 0;
    padding: 0px 0;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.sidenav-text li a:hover{ /* Sidenav <li> color when hovered*/
    color: lightskyblue;
}

.li-underline::after{ /* Sidenav <a> underline*/
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 2px;
    width: 0;
    transform: translateX(-50%);
    border-radius: 5px;
    background: linear-gradient(to right, white, aqua, blue);
    transition: width 0.5s ease;
}

.li-underline:hover::after{
    width: 100%; /* Final width when hovered */
}

/* sidenav stop */
/* hero start */

.hero-text-img{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;;
}

.hero-text-img img{
    width: auto;
    height: 450px;
    border-radius: 10px;
    margin: 90px 40px 40px 40px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text h1, .hero-text p, .hero-text a{
    margin: 10px 20px 10px 240px;
}

.hero-text h1, .hero-text p{
    color: white;
}

.hero-text h1{
    text-transform: capitalize;
    width: auto;
    min-width: 200px;
}

/* hero stop */
/* main start */

.main{
    color: white;
    margin: 40px 0;
}

/* main stop */
/* @medai start */

@media(max-width: 1250px){
    .hero-text-img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
    }
    .hero-text-img img{
        width: 80%;
        max-width: 500px; /* Maximum width for the image */
        height: auto; /* Maintain aspect ratio */
        margin: 40px;
    }
    .hero-text{
        margin: 100px 0 0 0;
    }
    .hero-text h1, .hero-text p, .hero-text a{
    margin: 10px 20px;
    }
    .hero-text p{
        max-width: 600px;
    }
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    
}

/* @media stop */